@import "lncs.scss";
@import "shared.scss";
@import "shared_override.scss";

header {
  .actions, .context {
    display: none;
  }
}

// Table of contents
ol.index-entries {
  margin-bottom: 0;
}

ol.index-entries[depth="0"] {
  li {
    font-weight: bold;
  }
}

ol.index-entries[depth="1"] {
  margin-bottom: 1em;
  li {
    font-weight: normal;
  }
}

figure.numbered pre {
  counter-reset: precode;

  code {
    &::before {
      color: lightgray;
      left: -1.75em;
      text-align: right;
      display: inline-block;
      width: 1.5em;
      content: counter(precode) " ";
      counter-increment: precode;
    }
  }
}

img.results-triple {
  width: 10em;
  height: 10em;
}

img.results-legend {
  width: 18em;
}

img.results-legend-small {
  width: 12em;
}

img.storage-overview {
  width: 25em;
}

img.eval-storage-approach {
  width: auto;
  height: 3em;
}

.subfigure {
  float: left;
  margin: 0;
  padding: 2px;
}

dl.references {
  font-size: 0.9em;
}