@import "swj.scss";
@import "shared.scss";
@import "shared_override.scss";

header {
  .actions, .context {
    display: none;
  }
  
  .reviewers {
    text-align: left;
    font-size: 0.9em;
  }
}

// Table of contents
ol.index-entries {
  margin-bottom: 0;
}

ol.index-entries[depth="0"] {
  li {
    font-weight: bold;
  }
}

ol.index-entries[depth="1"] {
  margin-bottom: 1em;
  li {
    font-weight: normal;
  }
}

figure.numbered pre {
  counter-reset: precode;

  code {
    &::before {
      color: lightgray;
      left: -1.75em;
      text-align: right;
      display: inline-block;
      width: 1.5em;
      content: counter(precode) " ";
      counter-increment: precode;
    }
  }
}

table.delta-approaches {
  td {
    span {
	  height: 50px;
	}
  }
}

img.delta-approach {
  width: 8em;
}

img.results-triple {
  width: 13em;
  height: 13em;
}

img.results-legend {
  width: 27em;
}

img.results-legend-small {
  width: 18em;
}

img.storage-overview {
  width: 25em;
}

img.eval-storage-approach {
  width: auto;
  height: 3em;
}

.subfigure {
  margin: 0;
  padding: 2px;
}

dl.references {
  font-size: 0.9em;
}

.col-span {
  column-span: all;
}